{% extends "base.html" %}
{% block headers %}
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/toggle.css') }}">
    <script>
    $(document).ready(function() {
        function toggleOptionalDivs(){
            var self = $("#action");
            var sval = $(self).find(":selected").val();
            var opts = ["switch-outlet", "sms-message"];
            for (i = 0; i < opts.length; i++) {
                if (opts[i] == sval) {
                    $("#" + opts[i]).css("display","block");
                } else {
                    $("#" + opts[i]).css("display","none");
                }
            }
            var atarg = $("#action_target").val()
            if (sval == 'switch-outlet' && atarg != "") {
                $("#outlet").val(atarg)
            }
            if (sval == 'sms-message' && atarg != "") {
                $("#recipient").val(atarg)
            }
            return false;
        }
        $("button.delete").click(function(){
            var [mode, pk] = this.id.split('-',2);
            if (window.confirm("Are you sure you want to delete this?")) {          
                $.post("/action/" + pk + "/delete",
                    {'csrfmiddlewaretoken': '{{ csrf_token() }}'},
                    function(){
                        window.location.replace("/action");
                    }
                );
            }
			return false;
        });
        $("#action").each(toggleOptionalDivs); 
        $("#action").change(function() {
            $("#action_target").val("");
            toggleOptionalDivs();
        });
    });
    </script>
{% endblock %}
{% block content %}
    <form action="" method="post" name="action" class="form">
        {{ form.hidden_tag() }}
        <fieldset>
        <div class="row">
            <div class="two columns">
            {{ form.type_id.label }}
            </div>
            <div class="four columns">
            {{ form.type_id }}
            {% if form.type_id.errors %}
                {% for err in form.type_id.errors %}
                <span style="color: red;">[{{ err }}]</span>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="two columns">
            {{ form.condition.label }}
            </div>
            <div class="four columns">
            {{ form.condition }}
            {% if form.condition.errors %}
                {% for err in form.condition.errors %}
                <span style="color: red;">[{{ err }}]</span>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="two columns">
            {{ form.value.label }}
            </div>
            <div class="four columns">
            {{ form.value }}
            {% if form.value.errors %}
                {% for err in form.value.errors %}
                <span style="color: red;">[{{ err }}]</span>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="two columns">
            {{ form.action.label }}
            </div>
            <div class="four columns">
            {{ form.action }}
            {% if form.action.errors %}
                {% for err in form.action.errors %}
                <span style="color: red;">[{{ err }}]</span>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="row" id="switch-outlet">
            <div class="two columns">
            {{ form.outlet.label }}
            </div>
            <div class="two columns">
            {{ form.outlet }}
            {% if form.outlet.errors %}
                {% for err in form.outlet.errors %}
                <span style="color: red;">[{{ err }}]</span>
                {% endfor %}
            {% endif %}
            </div>
            <div class="two columns">
            {{ form.action_state }}
            {% if form.action_state.errors %}
                {% for err in form.action_state %}
                <span style="color: red;">[{{ err }}]</span>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="row" id="sms-message">
            <div class="two columns">
            {{ form.recipient.label }}
            </div>
            <div class="four columns">
            {{ form.recipient }}
            {% if form.recipient.errors %}
                {% for err in form.recipient.errors %}
                <span style="color: red;">[{{ err }}]</span>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="two columns">
            {{ form.wait_time.label }}
            </div>
            <div class="four columns">
            {{ form.wait_time }}
            {% if form.wait_time.errors %}
                {% for err in form.wait_time.errors %}
                <span style="color: red;">[{{ err }}]</span>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="two columns">
            {{ form.active.label }}
            </div>
            <div class="four columns">
            {{ form.active }}
            {% if form.active.errors %}
                {% for err in form.active.errors %}
                <span style="color: red;">[{{ err }}]</span>
                {% endfor %}
            {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="four columns">
            <button type="submit" class="button-primary">Submit</button>
            {% if pk %}<button type="button" class="button delete" id="delete-{{ pk }}">Delete</button>{% endif %}
            </div>
        </div>

        </fieldset>
    </form>
{% endblock %}
