{% extends "base.html" %}
{% block content %}
{% if actions %}
    {% for action in actions %}
    <a class="item-link" href="/action/{{ action.id }}/edit">
    <div class="item">
        <p>{{ action | upper }}</p>
    </div>
    </a>
    {% endfor %}
{% else %}
    <div class="item">
        <p>No actions defined</p>
    </div>
    
{% endif %}
<div class="item">
    <p>
    <a href="/outlet/create">
    <span class="fa-stack fa-spin-hover">
    <i class="fa fa-circle-thin fa-stack-2x"></i>
    <i class="fa fa-plus fa-stack-1x"></i>
    </span>
    </a>
    </p>
</div>
{% endblock %}o
