{% extends "base.html" %}
{% block content %}
    <table class="pure-table pure-table-horizontal">
        <thead>
        </thead>
        <tr>
            <td><a href="/admin/profile" class="pure-button" style="width:100%;"><i class="fa fa-user"></i> user profile</a></td>
        </tr>
        <tr>
            <td><a href="/admin/resetpass" class="pure-button" style="width:100%;"><i class="fa fa-lock"></i> change password</a></td>
        </tr>
        <tr>
            <td><a href="/admin/settings" class="pure-button" style="width:100%;"><i class="fa fa-cog"></i> system settings</a></td>
        </tr>
    </table>
{% endblock %}
