{% extends "base.html" %}
{% block content %}
    <div class="row">    
      <div class="six columns">
        <a href="/admin/profile" class="button" style="width:100%;"><i class="fa fa-user"></i> user profile</a>
      </div>
    </div>
    <div class="row">    
      <div class="six columns">
        <a href="/admin/resetpass" class="button" style="width:100%;"><i class="fa fa-lock"></i> change password</a>
      </div>
    </div>
    <div class="row">    
      <div class="six columns">
        <a href="/admin/settings" class="button" style="width:100%;"><i class="fa fa-cog"></i> system settings</a>
      </div>
    </div>
    <div class="row">    
      <div class="six columns">
        <a href="/admin/twilio" class="button" style="width:100%;"><i class="fa fa-mobile"></i> twilio settings</a>
      </div>
    </div>
{% endblock %}
