{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="one column">
        <a class="button" href="/user" style="min-width: 180px; width=100%;"><i class="fa fa-user"></i> users</a>
    </div>
</div>

<div class="row">
    <div class="one column">
        <a class="button" href="/settings" style="min-width: 180px; width=100%;"><i class="fa fa-cog"></i> settings</a>
    </div>
</div>

<div class="row">
    <div class="one column">
        <a class="button" href="/about" style="min-width: 180px; width=100%;"><i class="fa fa-info-circle"></i> about</a>
    </div>
</div>

{% endblock %}
