<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
  <head>
    <script src="{{ url_for('static',  filename='js/jquery-3.2.1.min.js') }}"></script>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/pure/base-min.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/pure/pure-min.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/pure/grids-responsive-min.css') }}"> 
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/pure/buttons-min.css') }}">  
    {% block headers %}{% endblock headers %}
    {% if title %}
    <title>Login</title>
    {% endif %}
  </head>
  <body>
    <form action="" method="post" name="login" class="pure-form pure-form-aligned">
    {{ form.hidden_tag() }}
    <fieldset>
    <div class="pure-control-group">
        {{ form.username.label }}
        {{ form.username }}
        {% for err in form.username.errors %}
        <span class="pure-form-message-inline">[{{ err }}]</span>
        {% endfor %}
    </div>
    <div class="pure-control-group">
        {{ form.password.label }}
        {{ form.password }}
        {% for err in form.password.errors %}
        <span class="pure-form-message-inline">[{{ err }}]</span>
        {% endfor %}
    </div>

    <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Login</button>
    </div>
    </fieldset>
    </form>
  </body>
</html>
