{% extends "base.html" %}
{% block content %}
    <form action="" method="post" name="resetpass" class="pure-form pure-form-aligned">
        {{ form.hidden_tag() }}
        <fieldset>
        <div class="pure-control-group">
            {{ form.original.label }}
            {{ form.original }}
            {% for err in form.original.errors %}
            <span class="pure-form-message-inline">[{{ err }}]</span>
            {% endfor %}
        </div>
        <div class="pure-control-group">
            {{ form.password.label }}
            {{ form.password }}
            {% for err in form.password.errors %}
            <span class="pure-form-message-inline">[{{ err }}]</span>
            {% endfor %}
        </div>
        <div class="pure-control-group">
            {{ form.confirm.label }}
            {{ form.confirm }}
            {% for err in form.confirm.errors %}
            <span class="pure-form-message-inline">[{{ err }}]</span>
            {% endfor %}
        </div>
        
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
        </fieldset>
    </form>
{% endblock %}

