{% extends "base.html" %}
{% block content %}
    <form action="" method="post" name="edituser" class="pure-form pure-form-aligned">
        {{ form.hidden_tag() }}
        <fieldset>
        <div class="pure-control-group">
            {{ form.username.label }}
            {{ form.username }}
            {% for err in form.username.errors %}
            <span class="pure-form-message-inline">[{{ err }}]</span>
            {% endfor %}
        </div>
        <div class="pure-control-group">
            {{ form.email.label }}
            {{ form.email }}
            {% for err in form.email.errors %}
            <span class="pure-form-message-inline">[{{ err }}]</span>
            {% endfor %}
        </div>
       
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
        </fieldset>
    </form>
{% endblock %}

