{% extends "base.html" %}
{% block headers %}
    <script>
    $(document).ready(function() {
        $(".button.greenery").click(function(){
            var [mode, pk] = this.id.split('-',2);
            if (mode == 'edit') {
                location.href = "/user/" + pk + "/edit";
            else:
                if (window.confirm("Are you sure you want to delete this object from the system?")) {          
                    $.post("/user/" + pk + "/delete",
                        {'csrfmiddlewaretoken': '{{ csrf_token() }}'},
                        function(){
                            window.location.replace("/user");
                        }
                    );
                }
            }
			return false;
        });
    });
    </script>
{% endblock headers %}
{% block content %}
{% if payload %}
    <table>
    {% for u in payload %}
        <tr>
        <td class="nolines">{{ u.username }}</td>
        <td class="nolines">
            <a class="button button-icon greenery" id="edit-{{ u.id }}">
            <i class="fa fa-edit"></i>
            </a>
        </td>
        <td class="nolines">
            <a class="button button-icon greenery" id="delete-{{ u.id }}">
            <i class="fa fa-trash"></i>
            </a>
        </tr>
    {% endfor %}
    </table>
{% else %}
    No data available
{% endif %}
<a href="/user/create">add new <i class="fa fa-plus"></i></a>
{% endblock %}
