{% extends "base.html" %}
{% block headers %}
    <script>
    var csrf_token = "{{ csrf_token() }}";
    
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
    
    $(document).ready(function() {
        $("button.button.delete").click(function(){
            var [mode, pk] = this.id.split('-',2);
            if (window.confirm("Are you sure you want to delete this?")) {          
                $.post("/outlet/" + pk + "/delete",
                    {"csrfmiddlewaretoken": csrf_token},
                    function(){
                        window.location.replace("{{ request.args.get('next', '/outlet') }}");
                    }
                );
            }
			return false;
        });
    });
    </script>
{% endblock headers %}
{% block content %}
    <div class="white gap padded">
        {% if title %}
        <h4>{{ title }}</h4>
        {% endif %}
        <form action="" method="post" name="outlet" class="form">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="six columns">
                    {{ form.type_id.label }}
                    {{ form.type_id(class="u-full-width") }}
                    {% if form.type_id.errors %}
                    {% for err in form.type_id.errors %}
                    <span style="color: red;">[{{ err }}]</span>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="six columns">
                    {{ form.name.label }}
                    {{ form.name(class="u-full-width") }}
                    {% if form.name.errors %}
                    {% for err in form.name.errors %}
                    <span style="color: red;">[{{ err }}]</span>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="six columns">
                    {{ form.channel.label }}
                    {{ form.channel(class="u-full-width") }}
                    {% if form.channel.errors %}
                    {% for err in form.channel.errors %}
                    <span style="color: red;">[{{ err }}]</span>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <button type="submit" class="button-primary">Submit</button>
                    {% if pk %}
                    <button type="button" class="button delete" id="delete-{{ pk }}">Delete</button>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
