{% extends "base.html" %}
{% block headers %}
  <script>
    var csrf_token = "{{ csrf_token() }}";
    
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
    
    function setSwitchValid(pk, data) {
        if (data.state == 1) {
            $("#outletswitch-" + pk).prop("checked", true);
        } else {
            $("#outletswitch-" + pk).prop("checked", false);
        }
    }
    $(document).ready(function() {
        $(".onoffswitch-checkbox").each(function(){
            var pk = this.id.split('-').slice(1,).join('-');
            $.get("/outlet/" + pk,
            {'csrfmiddlewaretoken': csrf_token},
            function(data){
                setSwitchValid(pk, data);
            }, 'json');
        });
        setInterval(function(){
            $(".onoffswitch-checkbox").each(function(){
                var pk = this.id.split('-').slice(1,).join('-');
                $.get("/outlet/" + pk,
                {'csrfmiddlewaretoken': csrf_token},
                function(data){
                    setSwitchValid(pk, data);
		        }, 'json');
            });
        }, 5000);
        $(".onoffswitch-checkbox").change(function(){
            var pk = this.id.split('-').slice(1,).join('-');
            $.post("/outlet/" + pk + "/toggle",
                {'csrfmiddlewaretoken': csrf_token},
                function(data){
                    setSwitchValid(pk, data);
			    }, 'json');
        });
    });
    </script>  
{% endblock %}
{% block content %}

<div class="row white gap">
    <div class="twelve columns">
    {% if title %}
    <h4 class="padded">{{ title }}</h4>
    {% endif %}
    </div>
</div>

{% if payload %}
    {% for o in payload %}
    <a href="/outlet/{{ o.id }}/edit" class="row-link">
    <div class="row white gap">
        <div class="twelve columns">
            <p class="padded">
            <div style="display: inline-block; padding-left: 10px;">
            {{ o.name }}
            </div>
            <div class="onoffswitch" id="onoffswitch-{{ o.id }}" style="float: right; padding-right: 10px;">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="outletswitch-{{ o.id }}" style="display: none">
                <label class="onoffswitch-label" for="outletswitch-{{ o.id }}">
                    <span class="onoffswitch-inner"></span>
                </label>
            </div>
            </p>
        </div>
    </div>
    </a>
    {% endfor %}
{% else %}
    <div class="row white gap">
        <div class="twelve columns">
            <p class="padded">
            No outlets defined
            </p>
        </div>
    </div>
    <a href="/outlet/create" class="row-link">
    <div class="row white gap">
        <div class="twelve columns">
            <p class="padded">
            <i class="fa fa-plus"></i>Add Outlet</a>
            </p>
        </div>
    </div>
    </a>
{% endif %}
{% endblock %}
