{% extends "base.html" %}
{% block content %}
    <div class="white padded">
    <form action="" method="post" name="setting" class="form">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="twelve columns">
            <h4>{{ title }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
            {{ form.temperature.label }}
            {{ form.temperature(class="u-full-width") }}
            {% if form.temperature.errors %}
                {% for err in form.temperature.errors %}
                <span style="color: red;">[{{ err }}]</span>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="six columns">
            {{ form.interval.label }}
            {{ form.interval(class="u-full-width") }}
            {% if form.interval.errors %}
                {% for err in form.interval.errors %}
                <span style="color: red;">[{{ err }}]</span>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
            <button type="submit" class="button-primary">Save</button>
            </div>
        </div>
    </form>
    </div>
{% endblock %}
