{% extends "base.html" %}
{% block content %}
    <div class="white padded">
    <form action="" method="post" name="setting" class="form">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="twelve columns">
            <h4>{{ name }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
            {{ form.value.label }}
            {{ form.value(class="u-full-width") }}
            {% if form.value.errors %}
                {% for err in form.value.errors %}
                <span style="color: red;">[{{ err }}]</span>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="six columns">
            {{ form.notes.label }}
            {{ form.notes(class="u-full-width", readonly="true") }}
            </div>
        </div>
        <div class="row">
            <div class="six columns">
            <input type="submit" value="Save" class="button-primary">
            </div>
        </div>
    </form>
{% endblock %}
