{% extends "base.html" %}
{% block content %}
    <form action="" method="post" name="edituser" class="form">
        {{ form.hidden_tag() }}
        <fieldset>
        <div class="row">
            <div class="two columns">
            {{ form.username.label }}
            </div>
            <div class="four columns">
            {{ form.username }}
            {% for err in form.username.errors %}
            <span class="message-inline">[{{ err }}]</span>
            {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="two columns">
            {{ form.email.label }}
            </div>
            <div class="four columns">
            {{ form.email }}
            {% for err in form.email.errors %}
            <span class="message-inline">[{{ err }}]</span>
            {% endfor %}
            </div>
        </div>
       
        <div class="row">
            <div class="four columns">
            <button type="submit" class="button-primary">Submit</button>
            </div>
        </div>
        </fieldset>
    </form>
{% endblock %}

