{% extends "base.html" %}
{% block headers %}
    <script>
    $(document).ready(function() {
        $("input:checkbox").change(function(){
            var pk = this.id.split("-")[1];
            var self = this;
            $.post("/outlet/" + pk + "/toggle",
                {'csrfmiddlewaretoken': '{{ csrf_token() }}'},
                function(data){
                    $(self).prop("checked", data.state);
			}, 'json');
			return false;
        });
        $(".pure-button").click(function(){
            var [mode, pk] = this.id.split('-',2);
            if (mode == 'edit') {
                location.href = "/outlet/" + pk + "/edit";
            } else {
                if (window.confirm("Are you sure you want to delete this?")) {
                    $.post("/outlet/" + pk + "/delete",
                        {'csrfmiddlewaretoken': '{{ csrf_token() }}'}, 
                        function(){location.reload();}
                    );
                }
            }
			return false;
        });
    });
    </script>
{% endblock %}
{% block content %}
{% if payload %}
    <table class="pure-table pure-table-horizontal">
    <thead></thead>
    {% for o in payload %}
    <tr>
        <td>
            <a class="pure-button" href="/outlet/{{ o.id }}/edit" id="edit-{{ o.id }}" style="min-width: 180px;">{{ o.name }}</a>
        </td>
        <td>
            <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="outlet-{{ o.id }}"{% if o.state == 1 %} checked{% endif %}>
            <label class="onoffswitch-label" for="outlet-{{ o.id }}">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
            </label>
            </div>
        </td>
    {% endfor %}
    </table>
{% else %}
    No data available
{% endif %}
<p><a href="/outlet/create"><i class="fa fa-plus"></i> add</a></p>
{% endblock %}
