{% extends "base.html" %}
{% block headers %}
    <script>
    function setSwitchValid(self, data) {
        if (data.state == true) {
            if (! $(self).hasClass("button-primary")) {
                $(self).addClass("button-primary");
                $(self).text("on");
            }
        } else {
            if ($(self).hasClass("button-primary")) {
                $(self).removeClass("button-primary");
                $(self).text("off");
            }
        }
    }
    $(document).ready(function() {
        setInterval(function(){
            $(".button.toggle").each(function(){
                var pk = this.id.split('-',2)[1];
                var self = this;
                $.get("/outlet/" + pk,
                {'csrfmiddlewaretoken': '{{ csrf_token() }}'},
                function(data){
                    setSwitchValid(self, data);
		        }, 'json');
            });
        }, 5000);

        $(".button.toggle").on('click', function(){
            var pk = this.id.split("-")[1];
            var self = this;
            if ($(self).hasClass('button-primary')) {
                setSwitchValid(self, {"state": false, "name": $(self).text().split(" ")[0]});
            } else {
                setSwitchValid(self, {"state": true, "name": $(self).text()});
            }
            $.post("/outlet/" + pk + "/toggle",
            {'csrfmiddlewaretoken': '{{ csrf_token() }}'},
            function(data){
                setSwitchValid(self, data);
			}, 'json');
			return false;
        });
    });
    </script>
{% endblock %}
{% block content %}
{% if payload %}
    {% for o in payload %}
    <div class="row">    
      <div class="seven columns btn-group">
        <a class="button" href="/outlet/{{ o.id }}/edit" style="width: 83%;">{{ o.name }}</a><a class="button toggle" id="toggle-{{ o.id }}" style="width: 10%;">{% if o.state %}on{% else %}off{% endif %}</a>
      </div>
    </div>
    {% endfor %}
{% else %}
    No data available
{% endif %}
<p>
    <a href="/outlet/create"><i class="fa fa-plus"></i> add</a>
</p>
{% endblock %}
