{% extends "base.html" %}
{% block headers %}
    <script src="{{ url_for('static',  filename='js/Chart.bundle.js') }}"></script>
    <script src="{{ url_for('static',  filename='js/chartbuilder.js') }}"></script>
    <script>
    var globalChartRefs = {};

    $(document).ready(function() {
        $("[id*=chart-]").each(function(){
            var atoms = this.id.split("-");
            var tid = atoms[1];
            var sid = atoms[2];
            $.get("/measurement/chart/type/" + tid + "/sensor/" + sid  + "/avg?legend=1&days=5&dateson=1",
                {'csrfmiddlewaretoken': '{{ csrf_token() }}'},
                function(data){
                    createChart("chart-" + tid + "-" + sid, data, globalChartRefs);
	            }, 'json');
        });
        setInterval(function(){
            $("[id*=chart-]").each(function(){
                var atoms = this.id.split("-");
                var tid = atoms[1];
                var sid = atoms[2];
                $.get("/measurement/chart/type/" + tid + "sensor/" + sid + "/avg?legend=1&days=5&dateson=1",
                    {'csrfmiddlewaretoken': '{{ csrf_token() }}'},
                    function(data){
                        createChart("chart-" + tid + "-" + sid, data, globalChartRefs);
	                }, 'json');
            });
        }, 60000);
    });
    </script>
{% endblock %}
{% block content %}
{% if measurement %}
    {% if sensors %}
        {% for s in sensors %}
    <div class="row white gap center">
        <div class="twelve columns">
            <p class="padded">{{ s.name | upper }} - averages</p>
            <canvas id="chart-{{ measurement.id }}-{{ s.id }}"></canvas>
        </div>
    </div>
        {% endfor %}
    {% endif %}
{% else %}
    No data available
{% endif %}
{% endblock %}
