{% extends "base.html" %}
{% block headers %}
    <script src="{{ url_for('static',  filename='js/Chart.bundle.js') }}"></script>
    <script src="{{ url_for('static',  filename='js/chartbuilder.js') }}"></script>
    <script>
    var globalChartRefs = {};

    function type(obj) {
        var text = obj.constructor.toString();
        return text.match(/function (.*)\(/)[1];
    }

    $(document).ready(function() {
        $("[id*=chart-]").each(function(){
            var pk = this.id.split("-")[1];
            $.get("/measurement/chart/type/" + pk + "?legend=1&hours=4",
                {'csrfmiddlewaretoken': '{{ csrf_token() }}'},
                function(data){
                    createChart("chart-" + pk, data, globalChartRefs);
	            }, 'json');
        });
        setInterval(function(){
            $("[id*=chart-]").each(function(){
                var pk = this.id.split("-")[1];
                $.get("/measurement/chart/type/" + pk + "?legend=1&hours=4",
                    {'csrfmiddlewaretoken': '{{ csrf_token() }}'},
                    function(data){
                        createChart("chart-" + pk, data, globalChartRefs);
	                }, 'json');
            });
        }, 60000);
    });
    </script>
{% endblock %}
{% block content %}
{% if measurement %}
    <a href="#" class="item-link">
    <div class="item center">
        <p>{{ measurement.name }}</p>
        <canvas id="chart-{{ measurement.id }}" style="height: 70%;"></canvas>
    </div>
    </a>
{% else %}
    No data available
{% endif %}
{% endblock %}
