{% extends "base.html" %}
{% block headers %}
    <script src="{{ url_for('static',  filename='js/Chart.bundle.js') }}"></script>
    <script>

    function setMeasurement(id, data) {
        $("#" + id).text(data.text);
        return false;
    }

    function setSubtext(id, data) {
        $("#" + id).text(data.date_time);    
        return false;
    }

    $(document).ready(function() {
        $(".dashboard").each(function(){
            var pk = this.id.split("-")[1];
            $.get("/measurement/type/" + pk + "/latest",
                {'csrfmiddlewaretoken': '{{ csrf_token() }}'},
                function(data){
                    setMeasurement("measurement-" + pk, data);
                    setSubtext("subtext-" + pk, data);
	            }, 'json');
        });
        setInterval(function(){
            $(".dashboard").each(function(){
                var pk = this.id.split("-")[1];
                $.get("/measurement/type/" + pk + "/latest",
                    {'csrfmiddlewaretoken': '{{ csrf_token() }}'},
                    function(data){
                        setMeasurement("measurement-" + pk, data);
                        setSubtext("subtext-" + pk, data);
	                }, 'json');
            });
        }, 20000);
    });
    </script>
{% endblock %}
{% block content %}
{% if measurements %}
    {% for obj in measurements %}
    <a class="item-link" href="/measurement/type/{{ obj.id }}">
        <div class="item center dark-primary-color">
            <p class="dashboard-label">{{ obj.name }}</p>
            <p class="dashboard" id="measurement-{{ obj.id }}"></p>
            <p class="dashboard-subtext" id="subtext-{{ obj.id }}"></p>
        </div>
    </a>
    {% endfor %}
{% else %}
    No data available
{% endif %}
{% endblock %}
