{% extends "base.html" %}
{% block headers %}
    <script>
    $(document).ready(function() {
        $("button.button.delete").click(function(){
            var [mode, pk] = this.id.split('-',2);
            if (window.confirm("Are you sure you want to delete this?")) {          
                $.post("/outlet/" + pk + "/delete",
                    {'csrfmiddlewaretoken': '{{ csrf_token() }}'},
                    function(){
                        window.location.replace("/outlet");
                    }
                );
            }
			return false;
        });
    });
    </script>
{% endblock headers %}
{% block content %}
    <div class="white gap">
        <div class="padded">
        {% if title %}
        <h4>{{ title }}</h4>
        {% endif %}
        <form action="" method="post" name="outlet" class="form">
            {{ form.hidden_tag() }}
            <fieldset>
            <div class="row">
                <div class="two columns">
                    {{ form.name.label }}
                </div>
                <div class="ten columns">
                    {{ form.name }}
                    {% if form.name.errors %}
                    {% for err in form.name.errors %}
                    <span style="color: red;">[{{ err }}]</span>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            
            <div class="row">
                <div class="two columns">
                    {{ form.channel.label }}
                </div>
                <div class="ten columns">
                    {{ form.channel }}
                    {% if form.channel.errors %}
                    {% for err in form.channel.errors %}
                    <span style="color: red;">[{{ err }}]</span>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <button type="submit" class="button-primary">Submit</button>
                    {% if pk %}
                    <button type="button" class="button delete" id="delete-{{ pk }}">Delete</button>
                    {% endif %}
                </div>
            </div>
            </fieldset>
        </form>

        {% if schedules or pk %}
        <p></p>
        <h4>Outlet Schedules</h4>
        {% endif %}
        </div>
    </div>
    
    {% if schedules %}
        {% for s in schedules %}
    <a href="/schedule/{{ s.id }}/edit?next={{ request.url }}" class="row-link">
    <div class="row white gap">   
        <div class="twelve columns">
        <p class="padded">
        {{ s }}
        </p>
        </div>
    </div>
    </a>
        {% endfor %}
    {% endif %}

    {% if pk %}
    <div class="row white gap">
        <div class="twelve rows">
            <p class="padded">
            <a href="/schedule/create?next={{ request.url }}&outlet={{ pk }}">
            <span class="fa-stack fa-spin-hover">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-plus fa-stack-1x"></i>
            </span>
            </a>
            </p>
        </div>
    </div>
    {% endif %}

{% endblock %}
