{% extends "base.html" %}
{% block headers %}
    <script>
    function updateMeasurement(id) {
        $.get("/measurement/sensor/" + id,
            {'csrfmiddlewaretoken': '{{ csrf_token() }}'},
                function(data){
                $.each(data, function(i,o){
                    var tags = ["." + o.type, "." + o.sensor].join(" ");
                    var myid = ["value",o.type,o.sensor].join(".");
                    
                    if(! $('[id=o.sensor]').length) {
                        $(o.sensor).append("<div id='" + myid + "'>" + o.type + " = " + o.value + "</div>");
                    } 
                });
            }, 
        'json');    
    }
    
    $(document).ready(function() {
        setInterval(function(){
            $(".sensor-widget").each(function() {
                var id = this.id;
                updateMeasurement(id);                
            });
        }, 30000);
    });
    </script>
{% endblock headers %}
{% block content %}
{% if sensors %}
    {% for s in sensors %}
    <div class="row white gap">
        <div class="twelve columns">
            <div class="sensor-widget padded" id="{{ s.address }}">
                <div class="battery measurement">
                    <i class="fas fa-battery-full" id="battery.icon.{{ s.address }}"></i>
                </div>
                <p>{{ s.name | upper }}</p>
                
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
    No data available
{% endif %}
{% endblock %}
