<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
  <head>
    {% block headers %}{% endblock headers %}
    <title>Login</title>
  </head>
  <body>
    <form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    <div style="margin: 0 auto; padding: 20px; width: 100%; position: relative;">
        <div style="margin: 0 auto;">
            {{ form.username.label }}
            {{ form.username }}
            {% for err in form.username.errors %}
            <span>[{{ err }}]</span>
            {% endfor %}
        </div>
        <div style="margin: 0 auto;">
            {{ form.password.label }}
            {{ form.password }}
            {% for err in form.password.errors %}
            <span>[{{ err }}]</span>
            {% endfor %}
        </div>
    
        <div style="margin: 0 auto;">
            <button type="submit">Login</button>
        </div>
    </div>
    </form>
  </body>
</html>