{% extends "base.html" %}
{% block content %}
    <div class="white padded">
    {% if title %}
    <h4>{{ title }}</h4>
    {% endif %}
    <form action="" method="post" name="password" class="form">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="six columns">
            {{ form.original.label }}
            {{ form.original(class="u-full-width") }}
            {% for err in form.original.errors %}
            <span class="pure-form-message-inline">[{{ err }}]</span>
            {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="six columns">
            {{ form.password.label }}
            {{ form.password(class="u-full-width") }}
            {% for err in form.password.errors %}
            <span class="pure-form-message-inline">[{{ err }}]</span>
            {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="six columns">
            {{ form.confirm.label }}
            {{ form.confirm(class="u-full-width") }}
            {% for err in form.confirm.errors %}
            <span class="pure-form-message-inline">[{{ err }}]</span>
            {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="six columns">
            <button type="submit" class="button-primary">Submit</button>
            </div>
        </div>
    </form>
    </div>
{% endblock %}

