{% extends "base.html" %}
{% block headers %}
    <script>
    $(document).ready(function() {
        $("#id_days").css("display", "none");
        $("input:checkbox").each(function(){
  		    var self = this;
            var a = parseInt($("#id_days").val());
            var b = parseInt($(self).val());
    	    if (a & b) {
      	        $(self).prop("checked", true);
    	    } else {
      	        $(self).prop("checked", false);
            }
        });    
        $("input:checkbox").change(function(){
            var self = this;
            var a = parseInt($("#id_days").val());
            var b = parseInt($(self).val());
            if ($(self).prop("checked")) {
                $("#id_days").val(a + b);
            } else {
                $("#id_days").val(a - b);
            }
        });
        $("button.greenery").click(function(){
            var [mode, pk] = this.id.split('-',2);
            if (mode == 'delete') {
                if (window.confirm("Are you sure you want to delete this object from the system?")) {          
                    $.post("/schedule/" + pk + "/delete",
                        {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                        function(){
                            window.location.replace("/schedule");
                        }
                    );
                }
            }
			return false;
        });
    });
    </script>
{% endblock headers %}
{% block content %}
    <form action="" method="post" name="schedule">
    {% csrf_token %}
    {% for h in form.hidden_fields %}
        {{ h }}
    {% endfor %}

    {{ form.as_p }}
    
    <div class="well well-sm">
    <div class="form-check form-check-inline">
    {% for d in dow %}
        <label class="form-check-label">{{ d.0 }}
        <input class="form-check-input" type="checkbox" id="cb-{{ d.0 }}" value="{{ d.1 }}">
        </label>
    {% endfor %}
    </div>
    </div>

    <button type="submit" class="save btn btn-primary btn-sm">{% if pk %}Save{% else %}Submit{% endif %}</button>
    {% if pk %}<button type="button" class="btn btn-primary btn-sm greenery" id="delete-{{ pk }}">Delete</button>{% endif %}
    </form>
    {% if pk %}
    {% if schedules %}

    {% endif %}
    {% endif %}
{% endblock content %}



