{% extends "base.html" %}
{% block content %}
{% if payload %}
    <table class="pure-table pure-table-horizontal" style="width: 100%;">
        <thead></thead>
    {% for schedule in payload %}
        <tr>
            <td><a href="/schedule/{{ schedule.id }}/edit" class="pure-button" style="width: 100%;">{{ schedule }}</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    No data available
{% endif %}
<p><a href="/schedule/create"><i class="fa fa-plus"></i> add</a></p>
{% endblock %}
