{% extends "base.html" %}
{% block headers %}
{% endblock headers %}

{% block content %}
{% if title %}
    {{ title }}
{% else %}
    Schedules
{% endif %}
<a href="/schedule/create"><span class="glyphicon glyphicon-plus"></span></a>

{% if payload %}
    <div class="table-responsive">
        <table class="table">
    {% for s in payload %}
        <tr><td>{{ s }}</td></tr>
    {% endfor %}
        </table>
    </div>
{% else %}
    <p>
    No Data Available
    </p>
{% endif %}
{% endblock content %}


