.gauge {
    border: 1px solid #aaa;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.gauge .subtext {
    font-size: .8em;
    color: #aaa;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.gauge .measurement {
    font-size: 2.1em;
    margin-top: 1px;
    margin-bottom: 1px;
}

a.gauge-link {
    color: #333;
    text-decoration: none;
}

a.gauge-link:link {
    color: #333;
    text-decoration: none;
}

a.gauge-link:visited {
    color: #333;
    text-decoration: none;
}

a.gauge-link:hover {
    color: #333;
    text-decoration: none;
}

a.gauge-link:active {
    color: #333;
    text-decoration: none;
}


