.gauge {
    border: 1px solid #aaa;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.gauge .subtext {
    font-size: .8em;
    color: #aaa;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.gauge .measurement {
    font-size: 2.8em;
    margin-top: 2px;
    margin-bottom: 2px;
}
