{% extends "base.html" %}
{% block headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gauge.css') }}" type= "text/css" >
    <script src="{{ url_for('static',  filename='js/Chart.bundle.js') }}"></script>
{% endblock %}
{% block content %}
{% if payload %}
    {% for sdata in payload %}
    <div class="gauge">
        {{ sdata.1 }}
        <div class="graph">
            <canvas id="chart-{{ sdata.0 }}" height="60"></canvas>
        </div>
    </div>
    <a href="/sensor/{{ sdata.0 }}/edit">edit</a> | <a href="#">reports</a>
    <script>
        Chart.defaults.global.legend.display = false;
        var ctx = document.getElementById("chart-{{ sdata.0 }}").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            options: {
                scales: {
                    xAxes: [{
                        display: false
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero:false
                        }
                    }],
                }
            },
            data: {
                labels: {{ sdata.3 | safe }},
                datasets: [
                {% for k, v in sdata.4.items() %}
                    {
                        label: "{{ k }}",
                        data: {{ v }},
                        fill: false,
                        lineTension: 0.1,
                        borderColor: "rgb(120, 200, 0)"
                    },
                {% endfor %}
                ]
            }
        });
    </script>
    <p></p>
    {% endfor %}
{% else %}
    No data available
{% endif %}
<p>
    <a href="/sensor/create"><i class="fa fa-plus"></i> add</a>
</p>
{% endblock %}
