{% extends "base.html" %}
{% block headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gauge.css') }}" type= "text/css" >
    <script src="{{ url_for('static',  filename='js/Chart.bundle.js') }}"></script>
    <script src="{{ url_for('static',  filename='js/gauge.js') }}"></script>
    <script>
    var globalChartRefs = {};

    function type(obj) {
        var text = obj.constructor.toString();
        return text.match(/function (.*)\(/)[1];
    }

    function setMeasurement(id, data) {
        vals = [];
        if (type(data) == 'Array') {
            for (let d of data) {
                vals.push(d.text);
            }   
        } else {
            vals.push(data.text);
        }
        $("#" + id).text(vals.join(" | "));
        return false;
    }

    function setSubtext(id, data) {
        if (type(data) == 'Array') {
            $("#" + id).text(data[0].date_time);
        } else {
            $("#" + id).text(data.date_time);
        }
            
        return false;
    }

    $(document).ready(function() {
        $(".gauge").each(function(){
            var pk = this.id.split("-")[1];
            $.get("/measurement/sensor/" + pk + "/latest",
                {'csrfmiddlewaretoken': '{{ csrf_token() }}'},
                function(data){
                    setMeasurement("measurement-" + pk, data);
                    setSubtext("subtext-" + pk, data);
	            }, 'json');
            $.get("/measurement/chart/sensor/" + pk ,
                {'csrfmiddlewaretoken': '{{ csrf_token() }}'},
                function(data){
                    gaugeCreateChart("chart-" + pk, data, globalChartRefs);
	            }, 'json');
        });
        setInterval(function(){
            $(".gauge").each(function(){
                var pk = this.id.split("-")[1];
                $.get("/measurement/sensor/" + pk + "/latest",
                    {'csrfmiddlewaretoken': '{{ csrf_token() }}'},
                    function(data){
                        setMeasurement("measurement-" + pk, data);
                        setSubtext("subtext-" + pk, data);
	                }, 'json');
                $.get("/measurement/chart/sensor/" + pk,
                    {'csrfmiddlewaretoken': '{{ csrf_token() }}'},
                    function(data){
                        gaugeCreateChart("chart-" + pk, data, globalChartRefs);
	                }, 'json');
            });
        }, 60000);
    });
    </script>
{% endblock %}
{% block content %}
{% if payload %}
    {% for sensor in payload %}
    <div class="gauge" id="gauge-{{ sensor.id }}">
        {{ sensor.name }}
        <div class="measurement" id="measurement-{{ sensor.id }}"></div>
        <div class="graph">
            <canvas id="chart-{{ sensor.id }}" height="40"></canvas>
        </div>
        <div class="subtext" id="subtext-{{ sensor.id }}"></div>
    </div>
    <p></p>
    {% endfor %}
{% else %}
    No data available
{% endif %}
{% endblock %}
