{% extends "base.html" %}
{% block headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gauge.css') }}" type= "text/css" >
    <script src="{{ url_for('static',  filename='js/Chart.bundle.js') }}"></script>
    <script src="{{ url_for('static',  filename='js/gauge.js') }}"></script>
    <script>
        var globalChartRefs = {};
    
        $(document).ready(function() {
            $("canvas[id*='chart']").each(function(){
                var self = this.id
                var pk = this.id.split('-',2)[1];
                $.get("/measurement/chart/sensor/" + pk + "/avg",
                    {'csrfmiddlewaretoken': '{{ csrf_token() }}'},
                    function(data){
                        createChart(self, data, globalChartRefs);
	                }, 'json');
            });
            setInterval(function(){
                $("canvas[id*='chart']").each(function(){
                    var self = this.id
                    var pk = this.id.split('-',2)[1];
                    $.get("/measurement/chart/sensor/" + pk + "/avg",
                        {'csrfmiddlewaretoken': '{{ csrf_token() }}'},
                        function(data){
                            createChart(self, data, globalChartRefs);
		                }, 'json');
                });
            }, 20000);
        });
    </script>
{% endblock %}
{% block content %}
    <div class="gauge" id="gauge-{{ sensor.id }}">
        <div class="sensor" id="sensor-{{ sensor.id }}"></div>
        <div class="graph">
            <canvas id="chart-{{ sensor.id }}" height="60"></canvas>
        </div>
        <div class="subtext" id="subtext-{{ sensor.id }}"></div>
    </div>
    <p></p>
{% endblock %}
