<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
  <head>
    <script src="{{ url_for('static',  filename='js/jquery-3.2.1.min.js') }}"></script>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/pure/base-min.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/pure/pure-min.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/pure/grids-responsive-min.css') }}"> 
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/pure/buttons-min.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/pure/side-menu.css') }}">
    {% block headers %}{% endblock headers %}
    {% if title %}
    <title>greenery:{{ title }}</title>
    {% endif %}
  </head>
  <body>
    <div class="layout">
      <a href="#" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
      </a>
      <div id="menu">
        <div class="pure-menu">
          <a class="pure-menu-heading" href="/"><i class="fa fa-leaf"></i> Greenery</a>
          <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/" class="pure-menu-link">Environment</a></li>
            <li class="pure-menu-item"><a href="/outlet" class="pure-menu-link">Outlets</a></li>
            <li class="pure-menu-item"><a href="/schedule" class="pure-menu-link">Schedules</a></li>
            <li class="pure-menu-item"><a href="/action" class="pure-menu-link">Actions</a></li>
            <li class="pure-menu-item" class="menu-item-divided pure-menu-selected"><a href="/admin" class="pure-menu-link"><i class="fa fa-bolt"></i> Admin</a></li>
            <li class="pure-menu-item"><a href="/logout" class="pure-menu-link"><i class="fa fa-sign-out"></i> Logout</a></li>
          </ul>
        </div>
      </div>

      <script src="{{ url_for('static',  filename='js/ui.js') }}"></script>

      <div id="main">
        <div class="header">
          <h1>{{ title }}</h1>
            {% if subtitle %}
            <h2>{{ subtitle }}</h2>
            {% endif %}
        </div>
        <div class="content">
        {% block content %}{% endblock content %}
        </div>
      
        <div class="footer">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
{% endwith %}
        </div>
      </div>
    </div>
  </body>
</html>
