{% extends "base.html" %}
{% block headers %}
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/thermometer.css') }}">
    <script src="{{ url_for('static',  filename='js/Chart.bundle.js') }}"></script>
{% endblock %}
{% block content %}
{% if payload %}
    {% for d in payload %}
    <div class="gauge">
        {{ d.1 }}
        <div class="measurement">{{ d.2.value }}{% if d.1 == 'temperature' %}&#176;{% elif d.1 == 'humidity' %}&#37;{% endif %}</div>
        <div class="graph">
            <canvas id="chart-{{ d.0 }}" height="45"></canvas>
        </div>
        <div class="subtext">{{ d.2.date_time }}</div>
    </div>
    <script>
        Chart.defaults.global.legend.display = false;
        var ctx = document.getElementById("chart-{{ d.0 }}").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            options: {
                scales: {
                    xAxes: [{
                        display: false
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero:false
                        }
                    }],
                }
            },
            data: {
                labels: {{ d.3 | safe }},
                datasets: [{
                    data: {{ d.4 }},
                    fill: false,
                    lineTension: 0.1,
                    borderColor: "rgb(120, 200, 0)",
                }]
            }
        });
    </script>
    <p></p>
    {% endfor %}
{% else %}
    No data available
{% endif %}
{% endblock %}
