{% extends "base.html" %}
{% block headers %}
    <script>
    $(document).ready(function() {
        function toggleOptionalDivs(){
            var self = $("#interface_type");
            var sval = $(self).find(":selected").val();
            var opts = ["TxPwr433", "RxTemp433"];
            for (i = 0; i < opts.length; i++) {
                if (opts[i] == sval) {
                    $("#" + opts[i]).css("display","block");
                } else {
                    $("#" + opts[i]).css("display","none");
                }
            }
            return false;
        }
        $("button.delete").click(function(){
            var [mode, pk] = this.id.split('-',2);
            if (window.confirm("Are you sure you want to delete this?")) {          
                $.post("/device/" + pk + "/delete",
                    {'csrfmiddlewaretoken': '{{ csrf_token() }}'},
                    function(){
                        window.location.replace("/device");
                    }
                );
            }
			return false;
        });
        $("#interface_type").each(toggleOptionalDivs); 
        $("#interface_type").change(toggleOptionalDivs);
    });
    </script>
{% endblock %}
{% block content %}
    <form action="" method="post" name="device">
        {{ form.hidden_tag() }}

        <div class="row">
            <div class="two columns">{{ form.name.label }}
            </div>
            <div class="nine columns">{{ form.name }}
            {% if form.name.errors %}
                {% for err in form.name.errors %}
                <span style="color: red;">{{ err }}</span>
                {% endfor %}
            {% endif %}
            </div>
        </div>            
        <div class="row">
            <div class="two columns">{{ form.active.label }}
            </div>
            <div class="nine columns">{{ form.active }}
            {% if form.active.errors %}
                {% for err in form.active.errors %}
                <span style="color: red;">{{ err }}</span>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="two columns">{{ form.interface_type.label }}
            </div>
            <div class="nine columns">{{ form.interface_type }}
            {% if form.interface_type.errors %}
                {% for err in form.interface_type.errors %}
                <span style="color: red;">{{ err }}</span>
                {% endfor %}
            {% endif %}
            </div>
        </div>    

        <div class="row" id="TxPwr433">
            <div class="two columns">
                {{ form.channel.label }}
            </div>
            <div class="nine columns">
                {{ form.channel }}
                {% if form.channel.errors %}
                    {% for err in form.channel.errors %}
                    <span style="color: red;">{{ err }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="row" id="RxTemp433">
            <div class="two columns">
                empty
            </div>
            <div class="nine columns">
                this is an empty div
            </div>
        </div>

        <input type="submit" value="{% if pk %}Save{% else %}Submit{% endif %}">
        {% if pk %}
        <button class="button delete" type="button" id="delete-{{ pk }}">Delete</button>
        {% endif %} 
        </p>
    </form>
{% endblock %}
